################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Nordril.Base/bin
/Nordril.Base/obj
