################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Nordril.Base/bin
/Nordril.Base/obj
/Nordril.Base.Tests/bin/Release/netcoreapp2.2
/Nordril.Base.Tests/obj
/Nordril.Base.Tests/bin
